.reviewContainer {
    background-color: var(--color-accent);
    width: 100%;
}

.review {
    width: 400px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 25px;
    margin: 0 auto;

    position: relative;
}

.review .reviewAuthor {
    font-size: 28px;
    margin: 15px 0;
    transition: color 350ms;

    color: white;
}

.review .reviewAuthor:hover {
    color: var(--color-accent-bc);
    cursor: pointer;
}

.review .reviewText {
    margin: 0;
    text-align: center;

    color: white;
}

.fadeLeft {
    animation: fadeFromLeft 500ms forwards;
}

.fadeRight {
    animation: fadeFromRight 500ms forwards;
}

@keyframes fadeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}