.reviewContainer {
    background-color: var(--color-accent);
    width: 100%;
}

.review {
    width: 400px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 25px;
    margin: 0 auto;
}

.review .reviewAuthor {
    font-size: 28px;
    margin: 15px 0;
    transition: color 350ms;
}

.review .reviewAuthor:hover {
    color: var(--color-accent-bc);
    cursor: pointer;
}

.review .reviewText {
    margin: 0;
    text-align: center;
}
