:root {
    --color-accent: #4ABDAC;
    --color-accent-dark: #3e9b8d;
    --color-accent-bc: #9bf4e6;
    --color-clean: #DFDCE3;
    --color-accent-olive: darkolivegreen;
}

body {
    margin: 0;
    padding: 0;
    border: none;

    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
